nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    font-family: 'Poppins', sans-serif;
}
.logo{
    color: rgb(214, 214, 214);
    letter-spacing: 5px;
    font-size: 30px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links a{
    color: rgb(214, 214, 214);
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}
.nav-links li{
    list-style: none;
}

.threelinething{
    display: none;

}
.threelinething div{
    width: 25px;
    height: 2px;
    background-color: rgb(214, 214, 214);
    margin: 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

/*Makes links more seperated when screen is less then 2000 px*/
@media screen and (max-width:2000px){
    .nav-links{
        width: 60%;
    }
}
/*stops showing links and shows the 3 line thing when screen is smaller then 768px*/
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right:0px;
        height:92vh;
        top:8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        transform: translateX(100%);
        transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
}
    .threelinething{
        display: block;
    }
    .nav-links li{
        opacity: 0;
    }
}

.nav-active{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform:translateX(50px);
        -webkit-transform:translateX(50px);
        -moz-transform:translateX(50px);
        -ms-transform:translateX(50px);
        -o-transform:translateX(50px);
}
    to{
        opacity: 1;
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,5px);
    -webkit-transform: rotate(-45deg) translate(-5px,5px);
    -moz-transform: rotate(-45deg) translate(-5px,5px);
    -ms-transform: rotate(-45deg) translate(-5px,5px);
    -o-transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-5px);
    -webkit-transform: rotate(45deg) translate(-5px,-5px);
    -moz-transform: rotate(45deg) translate(-5px,-5px);
    -ms-transform: rotate(45deg) translate(-5px,-5px);
    -o-transform: rotate(45deg) translate(-5px,-5px);
}